{% extends "_base.html" %} {% block header_center %}
<h1 class="fs-4 mb-0 text-center">
    Authorization Endpoint
</h1>
{% endblock %} {% block body %}

<body>
    <div class="container">
        <h4>
            What user claims shall we deliver?
        </h4>
        <p>Feel free to modify the contents of the responses!</p>

        <form action="auth_continue" method="post">
            <h5>ID Token</h5>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <input type="radio" value="left" name="id_token_content_selector" checked id="id_token_content_selector_left"> <label for="id_token_content_selector_left" class="form-label">Full claims</label>
                    </div>
                    <textarea style="width: 100%; height: 10em;" name="id_token_content_left">{{ response_id_token_normal }}</textarea>
                </div>

                <div class="col-md-6">
                    <div>
                        <input type="radio" value="right" name="id_token_content_selector" id="id_token_content_selector_right"> <label for="id_token_content_selector_right" class="form-label">Minimal claims</label>
                    </div>
                    <textarea style="width: 100%; height: 10em;" name="id_token_content_right">{{ response_id_token_normal }}</textarea>
                    <small>We left out claims that some IDPs cannot provide.</small>
                </div>
            </div>
            <h5>Userinfo</h5>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <input type="radio" value="left" name="userinfo_content_selector" checked id="userinfo_content_selector_left"> <label for="userinfo_content_selector_left" class="form-label">Full claims</label>
                    </div>
                    <textarea style="width: 100%; height: 10em;" name="userinfo_content_left">{{ response_userinfo_normal }}</textarea>
                </div>

                <div class="col-md-6">
                    <div>
                        <input type="radio" value="right" name="userinfo_content_selector" id="userinfo_content_selector_left"> <label for="userinfo_content_selector_left" class="form-label">Minimal claims</label>
                    </div>
                    <textarea style="width: 100%; height: 10em;" name="userinfo_content_right">{{ response_userinfo_normal }}</textarea>
                    <small>We left out claims that some IDPs cannot provide.</small>
                </div>
            </div>
            <input type="hidden" name="client_id" value="{{ client_id }}">
            <input type="hidden" name="sid" value="{{ session_id }}">
            <button type="submit" class="btn btn-primary">Continue</button>

    </div>
</body>
{% endblock %}