{% extends "_base.html.j2" %}
{% block header %}
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom sticky-top bg-white">
        <a href="/" class="ms-3 mb-md-0 text-dark text-decoration-none fs-5">yes® CADI</a>
        <div>
            <h1 class="fs-4 mb-0 text-center">
                {{ client_config['client_name'] }} <button type="button" class="btn btn-sm btn-outline-secondary"
    data-toggle="modal"
    data-target="#clientDetails"><i class="bi bi-info-circle"></i></button>
            </h1>
            <code>{{ client_id }}</code>
        </div>
        <ul class="nav nav-pills ma-3">
            <li class="nav-item">
                <a href="https://yes.com/docs/rp-devguide/latest/index.html"
                   class="nav-link">Developer Guide</a>
            </li>
        </ul>
    </header>
{% endblock %}
{% block body %}
    <body>
        <div class="modal fade"
             id="clientDetails"
             tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    <table class="table table-striped">
                    <tr>
                        <th>Client ID</th>
                        <td><pre>{{ client_id }}</pre></td>
                    </tr>
                    <tr>
                        <th>Client Name</th>
                        <td><pre>{{ client_config['client_name'] }}</pre></td>
                    </tr>
                    <tr>
                        <th>Default consent purpose</th>
                        <td>{{ client_config['default_consent_purpose'] }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ client_config['status'] }}</td>
                    </tr>
                    <tr>
                        <th>Account Chooser Redirect URI</th>
                        <td><pre>{{ client_config['ac_redirect_uri'] }}</pre></td>
                    </tr>
                    <tr>
                        <th>OIDC Redirect URI(s)</th>
                        <td>{% for uri in client_config['redirect_uris'] %}<pre>{{ uri }}</pre> {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Application Type</th>
                        <td>{{ client_config['application_type'] }}</td>
                    </tr>
                    <tr>
                        <th>Allowed Claim(s)</th>
                        <td>{% for c in client_config['allowed_claims'] %}<pre>{{ c }}</pre> {% endfor %}</td>
                    </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <div class="container-md">
            <div class="card">
                <div class="card-header">
                    Pushed Authorization Request <span class="badge bg-dark">2020-01-01T00:00:00Z</span>
                </div>
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs"
                        id="req-1234-nav"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <a data-bs-toggle="tab"
                               data-bs-target="#req-1234-analysis"
                               class="nav-link active"
                               aria-current="true"
                               href="#">Analysis</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a data-bs-toggle="tab"
                               data-bs-target="#req-1234-raw"
                               class="nav-link"
                               href="#">Raw</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active card-body" id="req-1234-analysis">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                        <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
                                    Client ID
                                </button>
                            </h2>
                            <div id="flush-collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne">
                                <div class="accordion-body">
                                    The client ID is valid and the client is
                                    active
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
                                Client ID
                            </button>
                        </h2>
                        <div id="flush-collapseTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo">
                            <div class="accordion-body">
                                The client ID is valid and the client is
                                active
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <i class="bi bi-exclamation-circle fs-3 text-danger me-3"></i> Client Authentication
                            -
                            Client ID
                        </button>
                    </h2>
                    <div id="flush-collapseThree"
                         class="accordion-collapse collapse show"
                         aria-labelledby="flush-headingThree">
                        <div class="accordion-body">
                            The client ID is valid and the client is
                            active
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour"
                                aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
                        Client ID
                    </button>
                </h2>
                <div id="flush-collapseFour"
                     class="accordion-collapse collapse"
                     aria-labelledby="flush-headingFour">
                    <div class="accordion-body">
                        The client ID is valid and the client is
                        active
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive"
                            aria-expanded="false"
                            aria-controls="flush-collapseFive">
                        <i class="bi bi-exclamation-circle fs-3 text-danger me-3"></i> Client Authentication
                    -
                    Client ID
                </button>
            </h2>
            <div id="flush-collapseFive"
                 class="accordion-collapse collapse show"
                 aria-labelledby="flush-headingFive">
                <div class="accordion-body">
                    The client ID is valid and the client is
                    active
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade card-body" id="req-1234-raw">
    <pre>
                        POST /par HTTP/1.1
                        Host: idp.example.com
                        Content-Type: application/x-www-form-urlencoded
                        Content-Length: 0
                        Accept: application/json
                        Authorization: Basic YXBpX2NsaWVudF9rZXk6YXBpX2NsaWVudF9rZXlfcGFzc3dvcmQ=
                    </pre>
</div>
</div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        Pushed Authorization Request <span class="badge bg-dark">2020-01-01T00:00:00Z</span>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs"
            id="copy-req-1234-nav"
            role="tablist">
            <li class="nav-item" role="presentation">
                <a data-bs-toggle="tab"
                   data-bs-target="#req-1234-analysis"
                   class="nav-link active"
                   aria-current="true"
                   href="#">Analysis</a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-bs-toggle="tab"
                   data-bs-target="#req-1234-raw"
                   class="nav-link"
                   href="#">Raw</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade show active card-body"
             id="copy-req-1234-analysis">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <div class="accordion accordion-flush" id="copy-accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="copy-flush-headingOne">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
                        Client ID
                    </button>
                </h2>
                <div id="copy-flush-collapseOne"
                     class="accordion-collapse collapse"
                     aria-labelledby="flush-headingOne">
                    <div class="accordion-body">
                        The client ID is valid and the client is
                        active
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="copy-flush-headingTwo">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo"
                            aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
                    Client ID
                </button>
            </h2>
            <div id="copy-flush-collapseTwo"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwo">
                <div class="accordion-body">
                    The client ID is valid and the client is
                    active
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="copy-flush-headingThree">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseThree">
                    <i class="bi bi-exclamation-circle fs-3 text-danger me-3"></i> Client Authentication
                -
                Client ID
            </button>
        </h2>
        <div id="copy-flush-collapseThree"
             class="accordion-collapse collapse show"
             aria-labelledby="flush-headingThree">
            <div class="accordion-body">
                The client ID is valid and the client is
                active
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="copy-flush-headingFour">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour">
                <i class="bi bi-check-circle fs-3 text-success me-3"></i> Client Authentication -
            Client ID
        </button>
    </h2>
    <div id="copy-flush-collapseFour"
         class="accordion-collapse collapse"
         aria-labelledby="flush-headingFour">
        <div class="accordion-body">
            The client ID is valid and the client is
            active
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="copy-flush-headingFive">
        <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive">
            <i class="bi bi-exclamation-circle fs-3 text-danger me-3"></i> Client Authentication
        -
        Client ID
    </button>
</h2>
<div id="copy-flush-collapseFive"
     class="accordion-collapse collapse show"
     aria-labelledby="flush-headingFive">
    <div class="accordion-body">
        The client ID is valid and the client is
        active
    </div>
</div>
</div>
</div>
</div>
<div class="tab-pane fade card-body" id="copy-req-1234-raw">
    <pre>
                        POST /par HTTP/1.1
                        Host: idp.example.com
                        Content-Type: application/x-www-form-urlencoded
                        Content-Length: 0
                        Accept: application/json
                        Authorization: Basic YXBpX2NsaWVudF9rZXk6YXBpX2NsaWVudF9rZXlfcGFzc3dvcmQ=
                    </pre>
</div>
</div>
</div>
</div>
</body>
{% endblock %}
